.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > h1 {
  margin-bottom: 20px;
}

.container input {
  margin-bottom: 50px;
  margin-top: 50px;
}