.button {
  background: rgba(85, 132, 122, 0.97);
  width: 220px;
  height: 44px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 14px;
}

button:disabled {
  background-color: grey;
}